body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--b1-primary-color);
    color: var(--t1-primary-color);
    height: 100%;
    position: relative;
}

main {
    padding: 12em 0 4em 0;
}

:root {
    --b-primary-color: #000000;
    --b1-primary-color: #101012;
    --b2-primary-color: #252429;
    --b3-primary-color: #D5D5D8;
    --b-card-color: #222126;

    --t1-primary-color: white;

    --p9-primary-color: #0D139C;
    --p8-primary-color: #222bae;
    --p7-primary-color: #2b36ba;
    --p6-primary-color: #3542C6;
    --p5-primary-color: #3a49d1;
    --p4-primary-color: #5a66d9;
    --p3-primary-color: #991717;
    --p2-primary-color: #660F0F;
    --p1-primary-color: #660F0F;
    --p0-primary-color: #e8e9fa;
}

.btn-song{
    background: linear-gradient(360deg, #222BAE 0%, #3542C6 100%);
    border-radius: 100px;
    border: none;
    padding: 12px 32px;

    color: var(--t1-primary-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .05em;
    font-size: 1.2em;
}

.btn-song:hover, .btn-crud:hover{
    background: linear-gradient(360deg, #1a2194 0%, #2935ae 100%);
    color: #ececec;
}


.btn-crud, .btn-crud-secondary {
    padding: 12px 32px;

    color: var(--t1-primary-color);
    font-weight: 500;
    letter-spacing: .05em;
    font-size: 1em;
}
.btn-crud {
    background: linear-gradient(360deg, #222BAE 0%, #3542C6 100%);
    border-radius: 100px;
    border: none;
}

.btn-crud-secondary {
    background: transparent;
    border-radius: 100px;
    border: white solid 2px;
    box-sizing: content-box;
}

.nav-link{
    font-size: 1em;
    letter-spacing: 0.05em;
    color: var(--t1-primary-color);
    font-weight: 700;
}

.icon-song {
    font-size: 20px;
}

.s-border-radius {
    border-radius: 8px;
}

.btn-show {
    background: none;
    border: none;
    font-size: 1em;
    font-weight: 500;
    color: var(--p0-primary-color);
}

.btn-show:hover{
    text-decoration: underline;
}

.mb-20{
    margin-bottom: 20px;
}

.bg-radial {
    background: radial-gradient(50% 50% at 50% 50%, rgb(198 201 242 / 12%) 0%, rgba(16, 16, 18, 0) 100%);
}

.shadow-default {
    box-shadow: rgba(0, 0, 0, 0.30) 0 0 12px;
}

a {
    color: var(--p6-primary-color);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app{
    min-height: 100%;
    position: relative;
}

.padding-to-footer {
    padding-bottom: 32em;
}

.bg-s1 {
    background-color: var(--b2-primary-color);
}

.bg-s0 {
    background-color: var(--b1-primary-color);
}

footer{
    background: #ffab62;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}